header {
    border: 2px; 
    border-style: 
    solid; 
    border-color: red
}

nav {
    border: 2px; 
    border-style: solid; 
    border-color: navy
}

section {
    border: 2px; 
    border-style: solid; 
    border-color: yellow
}
 
article {
    border: 2px; 
    border-style: solid; 
    border-color: green
}
 
aside {
    float: left;
    border: 2px; 
    border-style: solid; 
    border-color: purple
}
 
footer {
    border: 2px; 
    border-style: solid; 
    border-color: black
}